@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-regular.otf');
    font-weight: 400;    
    font-style: normal;
 }
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-bold.otf');
    font-weight: 600;    
    font-style: normal;
 }
 @font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-medium.otf');
    font-weight: 500;    
    font-style: normal;
 }
 @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui.ttf');
    font-weight: 400;    
    font-style: normal;
 }
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/seguisb.ttf');
    font-weight: 500;    
    font-style: normal;
 }
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeuib.ttf');
    font-weight: 600;    
    font-style: normal;
 }
* {
	padding: 0;
	margin: 0;
}
/*Общее*/
a {
	color: #fff;
	text-decoration: none;
}
body {
	color: #fff;
	background: #141414;
	font-family: "DINPro","Segoe UI","Mina", sans-serif;

	font-weight: 400;

}
.page {
	
	margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    width: 100%;
	max-width: 1000px;
}
button:hover {
	cursor: pointer;
}
.line {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	border: 1px solid #CE0000;
}
h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	text-align: left;
}
/*Style Header*/
.page__header {
	background: #1e1e1e;
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0
}
.header__content {
	height: 64px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 1000px;
	align-items: center;
	position: relative;
}

.site_name {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}

.logo {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 0;
}

.header__nav {
	margin-left: 45px;
	font-size: 14px;
	line-height: 16px;
	align-items: center;
	display: flex;
}
.header__nav a {
	margin-right: 36px;
	height: 100%;
	padding-top: 22px;
	border-bottom: #1e1e1e 2px solid;
	transition: 0.3s;
}
.header__nav a:hover {
	color: #CE0000;
	border-bottom: #CE0000 2px solid;
}


.header__left {
	z-index: 1;
	display: flex;
}
.header__right {
	z-index: 1;
	margin-left: auto;
	margin-right: 0;
}

.search {
	background-image: url(../images/vectors/lupa.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position: 95%;
	border-radius: 5px;
	height: 30px;
	width: 270px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	outline: none;
}
.login {
	margin-left: 65px;
	font-size: 14px;
	line-height: 16px;
}

/*footer*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 155px;
	background: #1E1E1E;
}
.footer_site_label {
	display: flex;
	font-family: Mina;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	color: #FFFFFF;
	justify-content: center;
	padding-top: 30px;
}
.trash {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 1000px;
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #848484;
	justify-content: center;
	margin-top: 40px;
	position: relative;
}
.copy {
	position: absolute;
	left: 0;
}
.socials {
	width: 150px;
	display: flex;
	justify-content: space-between;
}
.maded {
	position: absolute;
	right: 0;
}
.maded span {
	color: #fff;
}
/*top slider*/
.slider-first{
	margin-top: 64px;
}
.slider-first .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0px;
}
.slider-first .slick-dots li {
	list-style: none;
	margin-right: 35px;
}
.slider-first .slick-dots li button:before {
	font-size: 0;
	opacity: 1;
	background-color: #fff;
	width: 46px;
	height: 6px;
	border-radius: 5px;
}
.slider-first .slick-dots li.slick-active button:before {
	background-color: #CE0000;;
}
.slick-dotted.slick-slider
{
    margin-bottom: 60px;
}
.slider {
	width: 100%;
}
.slide {
	position: relative;
}
.slide_img {
	object-fit: cover;
	width: 100%;
	z-index: 4;
	/*-webkit-filter: brightness(38%);
  	filter: brightness(38%);*/
  	position: absolute;

	height: 450px;
}
.slide_info {
	box-sizing: border-box;
	margin: 0 auto;
	width: 1000px;
	z-index: 5;
	top: 0;
	color: #fff;
	position: relative;
	height: 450px;
	padding-top: 32px;
}
.top_slider_film_title {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
}
.top_slider_film_title>span{
	width: 540px;
}
.slider_buttons {
	display: flex;
	width: 900px;
	position: absolute;
	bottom: 100px;
}
.top_slider_info_right {
	margin-left: auto;
	margin-right: 0px;
	display: flex;
}
.top_slider_button {
	background: none;
	border: none;
	outline: none;
}
.top_slider_info_left {
	display: flex;
}
.tr_sub {
	width: 255px;
	height: 55px;
	border-radius: 5px;
	display: flex;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	background: #CE0000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.subscribe {
	border: 1px solid #fff;
	background: none;
	margin-left: 20px;
}
.add {
	margin-left: 32px;
}


/* slider with films */
.recomend_to_watch_container{
	margin-bottom: 60px;
}
.film_slide {
	max-width: 135px;
	display: flex;
	flex-direction: column;
	text-align: center;
	outline: none;
	
}
.slider-second {
	margin-top: 30px;
	padding: 0 0 0 25px;
}
.slider-second .slick-slide {
	transition: 0.3s;
}
.film_slide_name {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #CE0000;
	margin-top: 6px;
}
.slider-second .slick-arrow {
	top: 100px;
}
.slider-second .slick-prev:before, .slick-next:before {
    display: none;
}
.slider-second .slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    z-index:10;
}
.slider-second .slick-prev {
    left: 0px;
    background: url(../images/vectors/ArrowLeft.png);
    background-size: cover;
}
  
.slider-second .slick-next {
    right: 0px;
    background: url(../images/vectors/ArrowRight.png);
    background-size: cover;
}



/*main news*/
.main_news_title {
	text-align: left;
	margin-bottom: 30px;
}
.news_grid {
	display: grid;
	grid-template-columns: 490px 490px;
	grid-template-rows: 230px 230px;
	justify-content: center;
	gap: 20px;
}
.new {
	background-color: #1E1E1E;
	padding: 10px;
	display: flex;
	border-radius: 5px;
}
.new>img{
	object-fit: cover;
	border-radius: 4px;
}
.new_info {
	margin-left: 20px;
	position: relative;
}
.new_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #CE0000;
}
.new_date {
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #848484;
}
.new_short {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}
.new_more {
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #CE0000;
	bottom: 0;
}
.more_news_here {
	margin-top: 30px;
	margin-bottom: 60px;
}
.more_news_here a {
	color: #CE0000;
}

/*films*/
.main_films {
	display: flex;
	width: 100%;
}
.films {
	width: 100%;
}
/*sidebar soon*/
.side_soon {
	width: 270px;
}
.soon {
	width: 100%;
	height: 110px;
	background-color: #CE0000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}
.side_soon .line {
	width: 85%;
}
.soon_films{
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: 125px;
	justify-content: center;
	margin-top: 30px;
	gap: 30px;
}
.soon_films img {
	border-radius: 5px;
}

/*film filters*/

.films_filter {
	margin-bottom: 30px;
}
.filter_choose {
	display: flex;
	align-items: flex-start;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
		
}
.select_container{
	position: relative;
	margin-right: 20px;
}
.films_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;  
  	-ms-user-select: none;
	user-select: none; 
	cursor: pointer;
	position: relative;
	width: 200px;
	background-color: #1E1E1E;
	font-size: 18px;
	overflow: hidden;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.1s;
}
.films_select:hover{
	background-color: #444444
}
.films_select::after {
	content: '';
	background:url("../images/vectors/arrow_down.png") center center no-repeat;
	background-size: 15px auto;
	position: absolute;
	right: 0;
	top:0;
	background-color: #CE0000;
	height: 100%;
	width: 45px;
	
}
.films_select_open::after{
	transform: rotate(180deg);
}
.arrow_select{
	position: absolute;
	right: 0;
	top:0;
	background-color: #CE0000;
	height: 100%;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow_select>img{
	width: 15px;
}
.select_list{
	position: absolute;
	width: 100%;
    left: 0;
    min-width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 200px;
    max-height: 240px;
    border-radius: 4px;
    padding: 12px 0;
    overflow: auto;
    background: #1e1e1e;
    z-index: 8;
    margin-top: 16px;
    /*border:1px solid #444444;*/
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.5);
}
.select_list_item{
	
}
.select_list_item:hover{
}
.select_list_item label {
	padding: 6px 16px;
    font-size: 16px;
    min-height: 18px;
    line-height: 1.15;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    transition: background-color 0.1s;
}
.select_list_item input {
	display: none;
	margin-top: 6px;
	cursor: pointer;
}
.select_list_item input:checked+label{
    background-color: #CE0000;
}
.select_list_item input:not(:checked)+label:hover{
	background-color: #444444;
}
.list-open{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cur_selected{
	background-color:#CE0000; 
}
.cur_selected:hover{
	background-color:#CE0000; 
}
.films_select>span{

}
.filter_choose input{
	display: none;
	margin-right: 20px;
}
.filter_choose label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;  
  	-ms-user-select: none;
	user-select: none; 
	font-weight: 400;
	border-radius: 500px;
	padding: 10px 30px;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	background-color: #1E1E1E;
	transition:background-color 0.1s; 
}
.check_filter:checked+label{
    background-color: #CE0000;
}
.check_filter:not(:checked)+label:hover{
    background-color: #444444;
}
.filter_choose span{
	margin-right: 3px;
}
.filter_lists{
	display: flex;
	font-size: 18px;
	font-weight: 400;
}
#genre_span {
	margin-bottom: 10px;
}
#year_span {
	margin-bottom: 10px;
}
.select_container{
	margin-right: 20px;
}
.filter_sort {
	margin-top: 22px;
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	align-items: center;
}
.films .line {
	margin-top: 15px;
	width: 90%;
}
.clear_filter {
	margin-left: auto;
	margin-right: 40px;
	background: none;
	border: none;
	outline: none;
	color: #CE0000;
}
.sort_btn {
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	margin-left: 20px;
	background: none;
	border: none;
	outline: none;
}
.cur_sort{
	color:  #CE0000;
}






/*main page films*/
.main_film {
	background-color: #1E1E1E;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 5px;
}
.main_film_title {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	color: #CE0000;
	margin-bottom: 0px;
	margin-bottom: 30px;
}
.bottom_right_btns {
	display: flex;
	margin-left: auto;
}
.bottom_right_btns button {
	border: none;
	outline: none;
	background: none;
	margin-left: 10px;
}
.main_film_info {
	display: flex;
	margin-bottom: 30px;
}
.main_film_poster {
	object-fit: cover;
	border-radius: 5px;
	margin-right: 20px;
}
.main_film_info_text {
	width: 400px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}
.main_film_info_text a {
	color: #CE0000;
}
.film_descr {
	margin-bottom: 15px;
}
.watch {
	border: 1px solid #fff;
	background: none;
	margin-left: 20px;
	color: #fff
}
.main_film_btns {
	display: flex;
}
.main_film_raiting {
	margin-left: auto;
	text-align: center;
}
.main_film .line {
	margin-left: 10px;
	margin-top: 30px;
}
.film-pages{
	margin-bottom: 60px;
}
.film-pages .dots-list{
	display: flex;
	list-style: none;
	justify-content: center;
}
.film-pages .dots-list a {
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.film-pages .dots-list li {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #CE0000;
	margin-right: 20px;
	
}
.film-pages .dots-list li:last-child {
	margin-right: 0;
}
.film-pages .dots-list li.dot-active  {
	background-color: #CE0000;
	color: #fff;
}
.film-pages .dots-list li.dot-active  a{
	color: #fff;
}





/*ACTOR*/
.actor_info {
	display: flex;
	min-width: 411px;
	padding-top: 60px;
	margin-left: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	position: relative;
}
.actor_like {
	border: none;
	outline: none;
	background: none;
	position: absolute;
	display: flex;
	top: 60;
	right: 100px;
}
.actor_info_img {
	width: 270px;
	height: 405px;
	margin-right: 34px;
}
.actor_info_text {
	
}
.actor_info_text span {
	color: #CE0000;
}
.actor_roles {
	color: #CE0000;
}
.actor_name {
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
}
.actor_rating {
	position: absolute;
	bottom: 0;
	right: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}
.actor_desrc {
	margin-bottom: 20px;
}
.actor_rating span {
	color: #CE0000;
}

.popular_works {
	margin-top: 30px;
}
.actor_popular_works_slider .slick-arrow {
	top: 100px;
}
.actor_popular_works_slider .slick-prev:before, .slick-next:before {
    display: none;
}
.actor_popular_works_slider .slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    z-index:10;
}
.actor_popular_works_slider .slick-prev {
    left: 60px;
    background: url(../images/vectors/ArrowLeft.png);
    background-size: cover;
}
  
.actor_popular_works_slider .slick-next {
    right: 60px;
    background: url(../images/vectors/ArrowRight.png);
    background-size: cover;
}
.actor_popular_works_slider .slick-slide {
	transition: 0.3s;
}
.actor_popular_works_slider {
	padding-left: 25px;
	margin-bottom: -25px
}
.actor_facts {
	margin-left: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}
.actor_fact_title {
	text-align: left;
	margin-bottom: 50px;
}
.actor_facts{
    counter-reset: myCounter;
}
.actor_facts li{
    list-style: none;
    max-width: 500px;
	display: flex;
	margin-top: 40px;
}
.actor_facts li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #CE0000;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.actor_photos {
	margin-left: 100px;
	margin-top: 60px;
}
.actor_photos_title {
	text-align: left;
	margin-bottom: 40px;
}
.actor_photos_page {
	display: grid !important;
	grid-template-columns: 222px 222px 222px;
	grid-template-rows: 288px 288px;
	grid-column-gap: 150px;
	grid-row-gap: 30px;
}
.actor_photos_page img {
	height: 288px;
	width: 222px;
}
.actor_photos_slider .slick-arrow {
	top: 300px;
}
.actor_photos_slider .slick-prev:before, .slick-next:before {
    display: none;
}
.actor_photos_slider .slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    z-index:10;
}
.actor_photos_slider .slick-prev {
    left: -55px;
    background: url(../images/vectors/ArrowLeft.png);
    background-size: cover;
}
  
.actor_photos_slider .slick-next {
    right: 20px;
    background: url(../images/vectors/ArrowRight.png);
    background-size: cover;
}


.all_works {
	margin-left: 100px;
	width: 970px;
	margin-top: 60px;
}
.all_works_title {
	text-align: left;
}
.all_works_list {
	margin-top: 40px;
	margin-bottom: 75px;
}
.all_works_film {
	width: 100%;
	border-bottom: 1px #CE0000 solid;
	padding-bottom: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.all_works_film_link {
	color: #000;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.all_works_filmrole {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #CE0000;
}
.all_works_film_rating span {
	color: #CE0000;
}
.all_works_film_rating {
	position: absolute;
	right: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}




/*film page*/
.film_top_banner {
	position: relative;
	margin-top:64px;
	display: flex;
	justify-content: center;
}
.gradient{
	z-index: 5;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(20,20,20,0.2), rgba(20,20,20,1) 95%);
}
.film_top_banner_img {
	object-fit: cover;
	width: 100%;
	z-index: 4;
	-webkit-filter: brightness(38%);
  	filter: brightness(38%);
  	position: absolute;
	height: 100%;
}
.film_top_banner_info {
	position: relative;
	z-index: 5;
	top: 0;
	color: #fff;
	width: 100%;
	height: 400px;
}
.film_top_banner_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
	width: 540px;
	margin-top: 32px;
	position: absolute;
}
.film_top_banner_buttons {
	display: flex;
	width: 900px;
	position: absolute;
	bottom: 80px;
}
.film_top_banner_button {
	background: none;
	border: none;
	outline: none;
}
#trailer_film_top_banner_button {
	background: #CE0000;
	border-radius: 5px;
}
#online_film_top_banner_button {
	border: 0.5px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
}
.film_age {
	position: absolute;
	top: 30px;
	right: 0px;

}

.film_info {
	display: flex;
	min-width: 411px;
	padding-top: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	position: relative;
}
.film_top_banner_container{
	max-width: 1000px;
	width: 100%;
}
.film_like {
	border: none;
	outline: none;
	background: none;
	display: flex;
}
.film_add {
	border: none;
	outline: none;
	background: none;
	display: flex;
}
.film_info_img {
	width: 270px;
	height: 405px;
}
.like_add{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.film_info_text {
	
}
.film_info_text span {
	color: #CE0000;
}
.film_year {
	color: #CE0000;
	font-size: 18px;
	line-height: 21px;
}
.film_name {
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
}
.film_rating {
	position: absolute;
	right:0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 28px;
	z-index: 100;
}
.positively{
	color: #00811C;
}
.poster_btns{
	margin-right: 40px;
}
.film_desrc {
	margin-bottom: 20px;
}
.film_rating span {
	color: #CE0000;
}
.film_description>h2{
	text-align: left;
	margin-bottom: 	30px;
}
.film_description_title {
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
}
.film_description {
	margin: 60px 0;
	display: flex;
	flex-direction: column;	
	width: 100%;
	position: relative;
}
.film_description_text p {
	width: 100%;
	font-size: 18px;
	line-height: 21px;
}
.film_description_imgs {
	position: relative;
	margin-left: 10px;
}
#film_description_img1 {
	position: absolute;
}
#film_description_img2 {
	position: absolute;
	left: 171px;
	top: 66px;
}


.film_achiv {
	display: flex;
	margin-top: 109px;
	margin-left: 100px;
	margin-bottom: 88px;
}
.film_achiv_text {
	margin-left: 84px;
}
.film_achiv_title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #CE0000;
	text-align: left;
	margin-bottom: 25px;
}
.film_achiv_text ul {
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.film_achiv_text li {
	list-style: none;
}

.film_frames {
}
.film_frames_title {
	text-align: left;
	margin-left: 100px;
}
.slider_frame {
	max-width: 224px;
	max-height: 153px;
	margin: 0 auto;
}
.film_frames_slider {
}
.film_frames_slider .slick-arrow {
	top: 80px;
}
.film_frames_slider .slick-prev:before, .slick-next:before {
    display: none;
}
.film_frames_slider .slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    z-index:10;
}
.film_frames_slider .slick-prev {
    left: 0px;
    background: url(../images/vectors/ArrowLeft.png);
    background-size: cover;
}
  
.film_frames_slider .slick-next {
    right: 0px;
    background: url(../images/vectors/ArrowRight.png);
    background-size: cover;
}


.film_roles {
	margin-left: 100px;
	margin-top: 60px;
}
.tab {
	display: flex;
	margin-top: 30px;
}
.role {
	width: 170px;
	margin-right: 30px;
}
.role:last-child{
	margin-right: 0;
}
.role_name {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.role_char_name {
	font-size: 14px;
	line-height: 16px;
	color: #848484;
}
.tabBtn {
	width: 190px;
	height: 50px;
	background: #1e1e1e;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255,255,255,0.7);
	display: inline-block;
	margin: 0;
	padding: 0;
	transition: 0.1s;
}
.tabBtn:hover{
	background-color: #444444;
	color: rgba(255,255,255,1);

}
.button_tab_active {
	background: #CE0000;
	color: #fff;
}
.button_tab_active:hover{
	background: #CE0000;
	color: #fff;

}
.tab_nav{
	border-radius: 5px;
	overflow: hidden;
}
.info_nav{
	margin: 60px 0;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#actors{
	display:flex;	
	width: 100%;
	justify-content: center;
}
#scenes{
	width: 1000px;
	margin: 60px 0;
}
#scenes>h2, .actors_container>h2{
	text-align: left;
	margin-bottom: 	30px;
}
.film_facts {
	margin-left: 100px;
	margin-top: 60px;
	font-size: 18px;
	line-height: 21px;
}
.film_facts_title {
	text-align: left;
	margin-bottom: 40px;
}
.film_facts{
    counter-reset: myCounter;
}
.film_facts li{
    list-style: none;
    max-width: 500px;
    display: flex;
    margin-top: 40px;
}
.film_facts li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #CE0000;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}


.send_review {
	margin: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.send_review_title {
	width: 800px;
	text-align: left;
	margin-bottom: 20px;
}
.send_review button {
	border: none;
	outline: none;
	background: none;
}
.send_review span {
	color: #CE0000;
	margin-left: 5px;
	margin-right: 5px;
}
.balls {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 21px;
}
.review_star {
	margin-right: 15px;
}
.mid_stars {
	height: 42px;
	width: 469px;
	border-bottom: #CE0000 1px solid;
	align-items: center;
	display: flex;
	justify-content: center;
}
.review_pole{
	border-radius: 5px;
	box-sizing: border-box;
	border: 2px solid #1E1E1E;
	padding: 20px;
	width: 800px;
}
.com_title{
	color: #fff;
	margin-top: 30px;
	background-color: #1E1E1E;
	width: 100%;
	border: none;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	padding: 20px;
}
.review_pole textarea {
	color: #fff;
	background-color: #1E1E1E;
	width: 100%;
	height: 303px;
	border: none;
	box-sizing: border-box;
	border-radius: 5px;
	resize: none;
	margin-top: 30px;
	padding: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
}
.go {
	display: flex;
	margin-top: 30px;
}
.go input {
	background: #CE0000;
	border-radius: 200px;
	width: 255px;
	height: 55px;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: Roboto;
	margin-right: 20px;
}
.go input:hover {
	cursor: pointer;
}


/*.review_bad {
	
}
.review_neutral {
	background: #E3E3E3;
}
.review_good {
	background: #E3FFDA;
}*/
.review_content {
}
.all_reviews{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.all_reviews_title {
	margin-top: 60px;
}
.all_reviews>h2 {
	width:800px;
	text-align: left;
}
.all_reviews h2 {
	text-align: left;
}
.review {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #1E1E1E;
	margin-top: 30px;
	border-radius: 5px;
	width: 760px;
	padding: 20px;
}
.review .line {
	width: 95%;
}
.review_head {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 30px;
}
.freespace{
	flex: 1;
	width:100%;
}
/*.review_head span {
	color: #CE0000;
}*/
.review_user {
	display: flex;
	align-items: center;
}
.review_user img {
	border-radius: 50%;
}
.review_date {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}
.review_user_info {
	margin-left: 20px;
}
.review_user_review_num {
	font-size: 14px;
	line-height: 16px;
	color: #848484;
}
.review_t{
	overflow: hidden;
	margin-bottom: 30px;
}
/*.review_t:hover{
	max-height: none;
}*/
.review_container{
	-webkit-box-direction: normal;
}
.review_container>img{
	height: 20px;
	margin-bottom:10px; 
}
.review_user_nick {
	font-size: 22px;
	line-height: 26px;
	color: #CE0000;
	font-weight: bold;
}
.review_rating {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-top: 40px;
}
.review_h {
	font-size: 18px;
	line-height: 21px;
}
.close{
	max-height: 264px;
}
.review_text {
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}
.review_footer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.show_all_review, .close_all_review {
	display: none;
	border: none;
	outline: none;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: transparent;
	border:1px solid #fff;
	border-radius: 5px;
	padding: 7px 10px;
}
.review_answ {
	font-size: 14px;
	line-height: 16px;
}
.review_report {
	right: 0;
	border: none;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #848484;
	margin-left: auto;
}
.review_comment svg {
}
.ent {
	display: flex;
}
.review_ocenka {
	display: flex;
	text-align: center;
}
.palec {
	border: none;
	outline: none;
	background: none;
	height: 23px;
	margin-right: 10px;
}
.review_ocenka .line {
	margin: 0 auto;
}
.palec_vverh {
}
.review_up {
	font-size: 18px;
	line-height: 20px;
	color: #62C041;
	margin-right: 20px;
}
.review_down {
	font-size: 18px;
	line-height: 20px;
	color: #CE0000;
}
.all_reviews .line {
	width: 90%;
}

.review_star img {
	width: 20px;
	height: 20px;
}
.mCSB_inside > .mCSB_container{
	margin-right: 16px;
}
.login_page{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_page_block{
	padding: 30px;
	background: #1E1E1E;
	border-radius: 5px;
}
.login_text{
	font-size: 28px;
	text-align: center;
	margin-bottom: 30px;
}
.login_form{
	display: flex;
	flex-direction: column;
}
.input_area{
	font-size: 18px;
	width: 400px;
	height: 40px;
	border-radius: 5px;
	border: 1px #444444 solid;
	padding: 0 10px;
	margin-bottom: 20px;
	background-color: #444444;
	color: #fff;
}
.input_area:active, .input_area:focus{
	outline: 0;
	outline-offset: 0;
	border: 1px #909090 solid;
}
.rememberme_container{
	display: flex;
	align-items: center;
}
.rememberme{
	width: 15px;
	height: 15px;
}
.rememberme_container>label{
	margin-left: 5px;
}
.login_conainer{
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}
.login_btn{
	color: #fff;
	font-size: 18px;
	height: 40px;
	cursor: pointer;
	background-color: #CE0000;
	outline: none;
	border:0;
	display: inline-block;
	height: 55px;
	border-radius: 5px;
	display: flex;
	width: 150px;
	align-items: center;
	justify-content: space-around;
				
}
.options{
	display: flex;
	justify-content: space-between;
}
.options>a{
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.films_search {
	margin-top: 94px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}
.films_search_filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.interval_filter .input_area {
	width: 100px;
}
.strana_filter .input_area {
	width: 100px;
}
.release {
	margin-top: 30px;
}
.tab_content {
	margin-top: 30px;
}