{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="slider slider-first" xmlns="http://www.w3.org/1999/html">
		{% for teaser in teasers %}

			<div class="slide" id="slide_1">
				<img class="slide_img" src="{{ teaser.background.url }}" alt="slide1">
				<div class="gradient"></div>
				<div class="slide_info">
					<div class="top_slider_film_title">
						<span>{{ teaser.title }}</span>
						<div class="top_slider_info_right">
							<a href="add_to_wish_list" class="wish_list"  data-href="/api/wishlist/{{teaser.movie.pk}}">{% if user in teaser.movie.movie_likes.all %} <img class="image_heart" src="{% static 'images/vectors/heart.png' %}" alt=""> {% else %} <img src="{% static 'images/vectors/heartW.png' %}" alt=""> {% endif %}</a>
							<a href="add_to_watch_later" class="watch_later" data-href="/api/watchlater/{{teaser.movie.pk}}">{% if user in teaser.movie.watch_later.all %} <img class="image_heart" src="{% static 'images/vectors/add.png' %}" alt=""> {% else %} <img src="{% static 'images/vectors/addW.png' %}" alt=""> {% endif %}</a>
						</div>
					</div>
					<div class="slider_buttons">
						<div class="top_slider_info_left">
							<a href="/movie/{{teaser.movie.pk}}" class="top_slider_button tr_sub trailer" id="trailer_button_slide_1">Смотреть онлайн</a>
						</div>
					</div>
				</div>
			</div>
	{% endfor %}
		</div>



	<section class="page">

		<div class="recomend_to_watch_container">
			<h2 class="recomend_to_watch">Рекомендуем к просмотру:</h2>
			<div class="slider slider-second">
				{% for film in best_films %}
				<a href="/movie/{{film.pk}}" class="film_slide">
					<img src="{{ film.poster.url}}" alt="" width="135" height="200">
					<span class="film_slide_name">{{ film.name }}</span>
				</a>
				{% endfor %}
			</div>
		</div>


		<div class="main_films">
			<div class="films">
				<form method="get">
				<div class="films_filter">
					<div class="filter_choose">
						<input class="check_filter" type="checkbox" id="films_r" value="films" name="filter_choose" checked>
						<label for="films_r">Фильмы</label>
						<input class="check_filter" type="checkbox" id="serials_r" value="serials" name="filter_choose">
						<label for="serials_r">Сериалы</label>

					</div>
					<div class="filter_lists">
						<div class="select_container genre">
							<div id="genre_span">Жанр:</div>
								<select name="genre" class="films_select" id="">
									<option value="" disabled selected>Все</option>
									{% for genre in genres %}
										<option value="{{genre.0}}">{{genre.0}}</option>
									{% endfor %}
								</select>
							</div>

						<div class="select_container year">
							<div id="genre_span">Год выпуска:</div>
							<select name="year" class="films_select">
									<option value="" disabled selected>Все</option>
									{% for year in years %}
										<option value="{{year}}">{{year}}</option>
									{% endfor %}
							</select>
							</div>
							<div class="select_list">
							</div>
							</div>
						</div>
					</div>
					<div class="filter_sort">

						<button class="clear_filter" type="submit" value="filter_search">Поиск</button>
					</div>
				</div>
				</form>

				<div class="slider film-pages">
					<div class="films_container">
					{% for film in films %}
						<div class="main_film">
							<div class="main_film_title">
								<span>{{ film.name }}</span>
								<div class="main_film_raiting positively">
									<span>{{ film.rating }}</span>
								</div>
							</div>
							<div class="main_film_info">
								<img src="{{film.poster.url}}" alt="" class="main_film_poster" width="170" height="270">
								<div class="main_film_info_text">
									<div class="film_descr">Год: <a href="#">{{film.year}}</a></div>
									<div class="film_descr">Страна: {% for country in film.country %}
																	{{ country }}
																	{% endfor %}
									</div>
									<div class="film_descr">Жанр: {% for genre in film.genre %}
																	{{ genre }}
																	{% endfor %}</div>
									<div class="film_descr">Режиссёр:
																	{% for director in film.director %}
																		{{ director }}
																	{% endfor %}
									</div>
									<div class="film_descr">Длительность: {{ film.duration }} мин.</div>
									<div class="film_descr">{{film.description|truncatechars:340}}</div>
								</div>
							</div>
							<div class="main_film_btns">
								<a class="top_slider_button tr_sub trailer" href="/movie/{{film.pk}}" id="main_film_tr_btn_1">Смотреть онлайн</a>
								<div class="bottom_right_btns">
								<a href="add_to_wish_list" class="wish_list"  data-href="/api/wishlist/{{film.pk}}">{% if user in film.movie_likes.all %} <img class="image_heart" src="{% static 'images/vectors/heart.png' %}" alt=""> {% else %} <img src="{% static 'images/vectors/heartW.png' %}" alt=""> {% endif %}</a>
								<a href="add_to_watch_later" class="watch_later" data-href="/api/watchlater/{{film.pk}}">{% if user in film.watch_later.all %} <img class="image_heart" src="{% static 'images/vectors/add.png' %}" alt=""> {% else %} <img src="{% static 'images/vectors/addW.png' %}" alt=""> {% endif %}</a>
								</div>
							</div>
						</div>
					{% endfor %}

					</div>
				<div class="film-pages">
					<div class="dots-list">

						{% if first_page %}
							<li><a href="/main/1" class="">1</a></li>
							<li><a href="#" class="" style="pointer-events: none;">...</a></li>
						{% endif %}

						{% if prev_page_list %}
							{% for page in prev_page_list %}
								<li><a href="/main/{{page.number}}" class="">{{page.number}}</a></li>
							{% endfor %}
						{% endif %}

							<li class="dot-active"><a href="#" style="pointer-events: none;" >{{cur_page.number}}</a></li>

						{% if next_page_list %}
							{% for page in next_page_list %}
								<li><a href="/main/{{page.number}}" class="">{{page.number}}</a></li>
							{% endfor %}
						{% endif %}

						{% if last_page %}
							<li><a href="#" class="" style="pointer-events: none;">...</a></li>
							<li><a href="/main/{{ last_page.number }}" class="">{{ last_page.number }}</a></li>
						{% endif %}

					</div>
				</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}



{% block script %}
	$(".wish_list").click(function(e){
		e.preventDefault()
		var this_ = $(this)
		var wish_list_url = this_.attr('data-href')
		$.ajax({
    		url: wish_list_url,
    		method: "GET",
    		data: {},
    		success: function(data){
				if (data.pressed){
					errorMes(data.movie_name + ' добавлен в список "Избранное". Его можно найти в вашем профиле', "Успешно", "success")
					$("img",this_).attr("src", "{% static 'images/vectors/heart.png' %}")
									}
				else{
					errorMes(data.movie_name + ' удален из списка "Избранное"', "Успешно", "success")
					$("img",this_).attr("src", "{% static 'images/vectors/heartW.png' %}")
					}
									},
			error: function(error){
				console.log(error)
									}
										})})


	$(".watch_later").click(function(e){
		e.preventDefault()
		var this_ = $(this)
		var watch_later_url = this_.attr('data-href')
		$.ajax({
    		url: watch_later_url,
    		method: "GET",
    		data: {},
    		success: function(data){
				if (data.pressed){
					errorMes(data.movie_name + ' добавлен в список "Смотреть позже". Его можно будет найти в вашем профиле позже', "Успешно", "success")
					$("img",this_).attr("src", "{% static 'images/vectors/add.png' %}")
									}
				else{
					errorMes(data.movie_name + ' удален из списка "Смотреть позже".', "Успешно", "success")
					$("img",this_).attr("src", "{% static 'images/vectors/addW.png' %}")
					}
									},
			error: function(error){
				console.log(error)
									}
										})})
{% endblock script %}